@use 'utils/variables';
@use 'utils/mixins';

@use 'base/reset';
@use 'layouts/dashboard';

.container {
  padding: 16px;
  width: 100%;
  margin: 0 auto;

  @include mixins.responsive('tablet') {
    max-width: 720px;
  }

  @include mixins.responsive('desktop') {
    max-width: 1000px;
  }
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: variables.$primary-color;
  color: white;
  padding: 8px;
  z-index: 10000;
  transition: top 0.3s;

  &:focus {
    top: 0;
  }
}