@use 'variables' as *;

@mixin responsive($breakpoint) {
  @if $breakpoint == 'tablet' {
    @media (min-width: $breakpoint-tablet) { @content; }
  }
  @if $breakpoint == 'desktop' {
    @media (min-width: $breakpoint-desktop) { @content; }
  }
}