$primary-color: #00509d;
$secondary-color: #00296b;
$accent-color: #fdc500;
$danger-color: #d90429;
$text-color: #333;
$light-color: #f8f9fa;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;