@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.content-container {
  padding: 20px;
}

.content-title {
  margin-bottom: 20px;
  color: var.$primary-color;
  text-align: center;
}

.map-view {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1; /* Agar tidak menutupi navbar */
}

.stories-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include mix.responsive('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.responsive('desktop') {
    grid-template-columns: repeat(3, 1fr);
  }
}